In [1]:
import pandas as pd
import csv

In [2]:
### Read the file line by line
print('Reading the file line by line')
data = []
with open('../data/data.tsv','r', encoding='utf-16-le') as f:
    for line in f:
        data.append(line.split('\t'))
print('Read all the lines')

Reading the file line by line
Read all the lines

In [3]:
print("There are {att} attributes in the data which are: {cols}".format(att=len(data[0]),cols=data[0]))

There are 5 attributes in the data which are: ['id', 'first_name', 'last_name', 'account_number', 'email\n']

In [4]:
print("There are {l} records in the file but the last id in the file is {lastid}".format(l = len(data),lastid = data[-1][0]))

There are 1008 records in the file but the last id in the file is 1000

In [5]:
print("Find the lines that are messed up and search the pattern in them")

Find the lines that are messed up and search the pattern in them

In [6]:
line_num = 0
for record in data:
    if len(record)!=5:
        print("line number",line_num)
        print(record)
    line_num = line_num+1

line number 29
['29', 'Adena', 'Hobbs\n']
line number 30
['Bosley', '656184\n']
line number 31
['', 'ac.ipsum.Phasellus@ut.net\n']
line number 84
['82', 'Jade', 'Battle\n']
line number 85
['     ', '531695', 'lectus.justo@lorem.co.uk\n']
line number 220
['217', 'Boris\n']
line number 221
['Harrington', 'Harrington', '325378', 'neque.Nullam.ut@laoreetlectus.edu\n']
line number 341
['337', 'NEHRU', 'MENDOZA', '  859105\n']
line number 342
['', 'porttitor.interdum.Sed@Loremipsum.co.uk\n']
line number 780
['775', '\n']
line number 781
['Barbara', 'Hurley', '691210', 'enim.Mauris.quis@magna.net\n']
line number 991
['985', 'Cherokee', 'Indian\n']
line number 992
['', '157172', 'enim@disparturient.edu\n']

In [7]:
print("There is a misalignment in those 16 lines")

There is a misalignment in those 16 lines

In [8]:
clean_data = []
reading_data = True
line_number = 0
while reading_data:
    #print(line_number)
    record = data[line_number]
    line_number = line_number+1
    if len(record)==5:
        """"""""""
        data already in correct format? -> add it to the list
        """"""""""
        clean_data.append([x.split("\n")[0] for x in record])
    else:
        """""""""""
        record is not aligned properly->
        1. read the next lines/nex records. Only stop when the record is in correct format 
        [val_1,val_2,val_3,val_4,val_5]
        2. join all the records that format is not correct 
        """""""""""
        print(line_number-1,record)
        found_record_w_correct_format = False
        psudo_line_number = line_number
        while not found_record_w_correct_format:
            psudo_record = data[psudo_line_number]
            psudo_line_number = psudo_line_number +1
            print(psudo_line_number-1,psudo_record)
            if len(psudo_record)==5:
                psudo_line_number = psudo_line_number -1
                found_record_w_correct_format = True
        fixed_record = [x.split("\n")[0] for x in record if x.strip()!='']
        for bad_line in range(line_number,psudo_line_number):
            fixed_record = fixed_record + [x.split("\n")[0] for x in data[bad_line] if x.strip()!='']
            print(fixed_record)
        print("Skipped line number",line_number-1,psudo_line_number)
        clean_data.append(fixed_record)
        line_number = psudo_line_number
        
    if record[0]==data[-1][0]: 
        reading_data=False

29 ['29', 'Adena', 'Hobbs\n']
30 ['Bosley', '656184\n']
31 ['', 'ac.ipsum.Phasellus@ut.net\n']
32 ['30', 'Laura', 'Rivera', '270464', 'nascetur.ridiculus.mus@Donecnibhenim.org\n']
['29', 'Adena', 'Hobbs', 'Bosley', '656184']
['29', 'Adena', 'Hobbs', 'Bosley', '656184', 'ac.ipsum.Phasellus@ut.net']
Skipped line number 29 32
84 ['82', 'Jade', 'Battle\n']
85 ['     ', '531695', 'lectus.justo@lorem.co.uk\n']
86 ['83', 'Nevada', 'black', '504965', 'enim.condimentum@a.net\n']
['82', 'Jade', 'Battle', '531695', 'lectus.justo@lorem.co.uk']
Skipped line number 84 86
220 ['217', 'Boris\n']
221 ['Harrington', 'Harrington', '325378', 'neque.Nullam.ut@laoreetlectus.edu\n']
222 ['218', 'Ifeoma', 'Whitney', '543699 ', 'Proin.nisl.sem@odiovelest.edu\n']
['217', 'Boris', 'Harrington', 'Harrington', '325378', 'neque.Nullam.ut@laoreetlectus.edu']
Skipped line number 220 222
341 ['337', 'NEHRU', 'MENDOZA', '  859105\n']
342 ['', 'porttitor.interdum.Sed@Loremipsum.co.uk\n']
343 ['338', 'Kerry', 'Cortez', '936316', 'nulla.Integer.urna@amet.edu\n']
['337', 'NEHRU', 'MENDOZA', '  859105', 'porttitor.interdum.Sed@Loremipsum.co.uk']
Skipped line number 341 343
780 ['775', '\n']
781 ['Barbara', 'Hurley', '691210', 'enim.Mauris.quis@magna.net\n']
782 ['776', 'Sigourney', 'Richmond', '327527', 'metus@Cras.edu\n']
['775', 'Barbara', 'Hurley', '691210', 'enim.Mauris.quis@magna.net']
Skipped line number 780 782
991 ['985', 'Cherokee', 'Indian\n']
992 ['', '157172', 'enim@disparturient.edu\n']
993 ['986', 'Tanya', 'Howard', '295481', 'Donec.consectetuer.mauris@venenatislacus.co.uk\n']
['985', 'Cherokee', 'Indian', '157172', 'enim@disparturient.edu']
Skipped line number 991 993

In [9]:
print("Check if any record list has more than 5 values")
for record in clean_data:
    if len(record)!=5:
        print(record)

Check if any record list has more than 5 values
['29', 'Adena', 'Hobbs', 'Bosley', '656184', 'ac.ipsum.Phasellus@ut.net']
['217', 'Boris', 'Harrington', 'Harrington', '325378', 'neque.Nullam.ut@laoreetlectus.edu']

In [10]:
print("Fix those records manually")
"""""""""""
Reason that I fix manually these records is because they cleary need a feedback from human and machine cannot decide 
how to treat those records. More a algorithm w human guided approach.
"""""""""""
clean_data[29] = ['29', 'Adena', 'Hobbs Bosley', '656184', 'ac.ipsum.Phasellus@ut.net']
clean_data[217] = ['217', 'Boris', 'Harrington', '325378', 'neque.Nullam.ut@laoreetlectus.edu']

Fix those records manually

In [11]:
print('Write to a file')
df = pd.DataFrame(clean_data[1:],columns=clean_data[0])

df.to_csv('../data/clean_data.tsv',sep='\t',encoding='utf-8',index=False)

Write to a file